PORT=9000

JWT_SECRET_KEY=jwt_secret_key for signing jwt token can be anything

REDIS_URL=redi_url

AWS_REGION=aws_region
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_CLUSTER_ARN=aws_cluster_arn
AWS_TASK_DEFINATION_ARN=aws_task_defination_arn

# clickhouse dattabase credentials
CLICKHOUSE_HOST=HOST:PORT
CLICKHOUSE_DATABASE=default
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=password